In [1]:
import pandas as pd
from utilities import clean_data, missing, derivatives_data
import numpy as np

ImportError: cannot import name 'derivatives_data' from 'utilities' (/Users/fynnhufler/Documents/ETH/Datathon/AIMLess_UBSChallenge/utilities.py)

In [46]:
df, df_brands, df_allbrands, brands, compsets, compset_groups, groups_bycompset = clean_data()

In [47]:
df

,period_end_date,business_entity_doing_business_as_name,followers,pictures,videos,comments,likes
0,2017-05-06,24S,NaN,NaN,NaN,NaN,NaN
1,2017-05-13,24S,NaN,6.0,3.0,57.0,1765.0
2,2017-05-20,24S,NaN,6.0,3.0,57.0,1765.0
3,2017-05-27,24S,NaN,6.0,3.0,57.0,1765.0
4,2017-06-03,24S,NaN,24.0,3.0,109.0,3922.0
...,...,...,...,...,...,...,...
298035,2023-08-19,shopDisney,4221812.0,266.0,52.0,3099.0,266166.0
298036,2023-08-26,shopDisney,4224473.0,265.0,61.0,3494.0,316126.0
298037,2023-09-02,shopDisney,4228605.0,268.0,61.0,3920.0,341795.0
298038,2023-09-09,shopDisney,4233764.0,259.0,56.0,3700.0,335231.0
298039,2023-09-16,shopDisney,4239207.0,244.0,72.0,3908.0,330793.0

In [48]:
"""Data Frame df_rate_of_change containing the 1st time derivative in parameters pictures, videos, comments, likes and followers"""

#create copy for dataframe consisting of 1st derivative
df_rate_of_change = df.copy()
parameters = ['followers', 'pictures', 'videos', 'comments', 'likes']

#I AM NOT YET GOING TO FILL NA'S WITH ZEROS BECAUSE THERE COULD BE OTHERS WHICH WE DONT WANT TO FILL
#add the first time derivative to each column
df_rate_of_change['change in followers'] = df_rate_of_change['followers'].diff()
df_rate_of_change.rename(columns={'pictures': 'change in pictures'}, inplace=True)
df_rate_of_change.rename(columns={'videos': 'change in videos'}, inplace=True)
df_rate_of_change.rename(columns={'comments': 'change in comments'}, inplace=True)
df_rate_of_change.rename(columns={'likes': 'change in likes'}, inplace=True)
df_rate_of_change.drop(columns=['followers'], inplace=True)

In [50]:
"""Data Frame df_curvature containing the 2nd time derivative in parameters pictures, videos, comments, likes and followers"""

new_parameters = ['change in followers', 'change in pictures', 'change in videos', 'change in comments', 'change in likes']

#create copy for dataframe consisting of 2nd derivative
df_curvature = df_rate_of_change.copy()

#I AM NOT YET GOING TO FILL NA'S WITH ZEROS BECAUSE THERE COULD BE OTHERS WHICH WE DONT WANT TO FILL
#add the 2nd time derivative in the parameters to each column
for i, parameter in enumerate(new_parameters):
    df_curvature[parameter] = df_rate_of_change[parameter].diff()
    df_curvature.rename(columns={ parameter : f'curvature in {parameters[i]}'}, inplace=True)

In [ ]:
df_rate, df_curve = derivatives_data()